.brand-name{
    text-align: center;
    font-size: 50px;
    font-family: Monotype corsiva;
    margin-top: 20px;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 15px 0px;
   
}

.home-image{
    width: 700px;
    margin-left: 35px;
}
.home-display{
    display: flex;
    margin: 10px;
}

.home-text{
    font-size: 45px;
    text-align:center;
    padding: 180px;
}
.search-bar {
    border-radius: 15px;
    width: 850px;
    height: 70px;
    margin: 100px;
    border: 1px solid gray;
    background-color: white;
    padding-left: 15px;
}

body {
    margin: 0px;
    padding: 0px ;
    
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    background-color: #333333;
    width: 200px;
}

.content {
    background-color: #EFFAFC;
    width: 100%;
}

.menu-item {
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.active-menu {
    background-color: rgb(161, 211, 231);
}

.menu-item:hover {
    background-color: rgb(161, 211, 231);
}

.menu-icon {
    height: 20px;
}

.menu-text {
    margin-left: 5px;

}

.Bottom-navigation-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333333;
    color: white;


}

.bottom-menu-icon {
    background-color: white;
    margin: 5px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}

.bottom-menu-icon-active {
    background-color: rgb(161, 211, 231);
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-items{
    margin: 20px;
}
.label{
    font-size: 35px;
}

.input{
    margin: 15px 5px;
    height: 30px;
    width: 300px;
}
.submit{
    width: 150px;
    background-color: rgb(161, 211, 231);
    color: white;
    padding:  8px 10px;
    font-size: 25px;
    border-radius: 10px;
}
.category-img{
    display: flex;
    padding-top: 70px;
    justify-content: space-around;
}
.category-img-text{
    display: flex;
   padding-top: 40px;
    justify-content: space-around;
    
}
.category-text{
    font-size: 25px; 
}
.category-img-self{
    width: 300px;
    height: 400px;
}
@media screen and (max-width:600px) {
    .sidebar {
        display: none;
    }

    .Bottom-navigation-bar {

        display: flex;
        justify-content: space-around;
    }

    .search-bar {
        border-radius: 15px;
        width: 250px;
        height: 50px;
    
    }
    .category-img{
        flex-wrap: wrap;
    }
    .home-image{
        width: 300px;
        height: 300px;
    }
    .home-text{
        font-size: 45px;  
        padding: 10px;
    }
    .home-display{
        flex-wrap: wrap;
    }
}

@media screen and (min-width:601px) and (max-width:689px) {
    .sidebar {
        display: none;
    }

    .Bottom-navigation-bar {
        display: flex;
        justify-content: space-around;
    }
    .search-bar {
        border-radius: 15px;
        width: 450px;
        height: 50px;
    
    }
    .category-img{
        flex-wrap: wrap;
    }
    .home-image{
        width: 500px;
        height: 500px;
    }
    .home-text{
        font-size: 25px;  
        padding: 10px;
    }
    .home-display{
        flex-wrap: wrap;
    }
}

@media screen and (min-width:689px) and (max-width:990px) {
    .Bottom-navigation-bar {
        display: none;
    }
}

@media screen and (min-width:992px) and (max-width:1600px) {
    .Bottom-navigation-bar {
        display: none;
    }
}