body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    min-height: 100vh;
}
.sidebar{
    background-color:#333333;
    width: 200px;
}
.content{
    background-color: white;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.menu-item{
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.active-menu{
    background-color: rgb(161, 211, 231);
}

.menu-item:hover{
    background-color: rgb(161, 211, 231);
}
.menu-icon{
    height: 20px;
}
.menu-text{
    margin-left: 5px;

}

@media screen and (max-width:639px) {
    .sidebar{
        display: none;
    }
    
}

@media screen and (min-width:640px) and (max-width:789px) { 
    .sidebar{
        display: none;
    }

}
